---
layout: default
title: Gallery
permalink: /gallery/
---

{% assign gallery = site.data.gallery %}

<section class="section panel animate-on-scroll">
  <h1>{{ gallery.content.heading }}</h1>
  <div class="gallery-grid">
    {% for image in gallery.content.images %}
      <figure class="gallery-item image-with-credit">
        <img src="{{ image.image }}" alt="{{ image.alt }}" />
        {% if image.photographer != "" %}
          <figcaption class="image-credit">Photography by {{ image.photographer }}</figcaption>
        {% endif %}
      </figure>
    {% endfor %}
  </div>
</section>
